body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-image: url('../images/landing.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}
.register-card {
    width: 600px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-left: auto;
}
.register-card .form-group {
    margin-bottom: 1.5rem;
}
.register-card .btn-danger, .btn-primary {
    width: 100%;
}

.register-card .btn-primary {
    background-color: #109A61; 
    border-color: #109A61;
}

.register-card .btn-primary:hover {
    background-color: #0c7044; 
    border-color: #0c7044;
}
.register-card .card-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #0c7044;
}


#togglePassword {
    border-color: #ced4da;
  }

.tag-button {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    margin: 0.1rem;
    color: #109a61;
    background-color: #fff;
    border: 1px solid #109a61;
    border-radius: 0.2rem;
    transition: background-color 0.3s, color 0.3s;
  }

.tag-button:hover {
    background-color: #109a61;
    border-color: #109a61;
    color: #fff;
    }

.tag-button.selected {
    background-color: #109a61;
    color: #fff;
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

